.DemoPage{
    padding: 40px 200px;
   
}
.TheUltimate{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    /* padding: 20px; */
    font-weight: bolder;
    color: 	#303030;
}
.DemoPage1{ display: flex;
    justify-content: space-between;}
    .HomePage1a{
        padding: 10px;
    }
    .DemoPage2{
        padding: 20px 30px;
        display: flex;
        justify-content: space-evenly;
    }
    .p1{
        font-size: 18px;
        line-height: 30px;
        text-align: left;
        color: 	#686868;
    }
    .button1{
        width: 230px;
        height: 46px;border: none; border-radius: 4px;
        background-color:#4ea819 ;
        color: white;
        font-weight: bold;
        padding: 10px;
        margin: 10px;
        font-size: 18px;
    }
    .button1:hover{
        cursor: pointer;
        background-color: green;
    }
    .DemoButton1{
        width: 250px;
        height: 46px; border-radius: 4px;
        padding: 10px;
        margin: 10px;
        font-size: 18px;
        background-color: white;
        border: .5px solid  ;
        font-weight: bold;
        color: 	#707070;
    }
    .DemoButton1:hover{
        cursor: pointer;
     background-color: 	#F0F0F0;
    }
    .DemoPage2{
        padding: 20px 30px;
        display: flex;
        justify-content: space-between;
        padding-top: 100px;
        text-align: center;
    }
    .p2{
        font-weight: bolder;
        font-size: 25px;
    }
    .p3{
        font-size: 18px;
        padding: 0px 5px;
        line-height: 20px;
        color: gray;
    }
    .DemoPage3{
        padding: 40px 200px;
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .DemoPage4{
        padding: 40px 200px;
        display: flex;
    }
    #ABC{
        color: #4ea819;
    }
    #DEF{
        color: #4ea819;
        font-size: 20px;
        font-weight: bold;
    }
    .List{
       font-size: 19px;
       color: #484848;
    }
    .List:hover{
        cursor: pointer;
        text-decoration: none;
    }
    #Image2{
        padding: 0px 20px;
        padding-top: 100px;
        
    }
    .HomePage8{
        background-color: #4ea819;
        text-align: center;
        color: white;
        padding: 25px;
        font-family: SFMono-Bold,Menlo,Monaco,Consolas,"Liberation Mono","Courier New";
       
    }
    .HomePage8h3{
        font-size: 32px;
        font-weight: 900;
    }
    #input1{
        width: 270px;
        height: 40px;
        font-size: 18px;
        font-weight: 200;
        margin: 10px;
        border-radius: 4px;
    }
    .button1{
        width: 200px;
        height: 46px;border: none; border-radius: 4px;
        background-color:#4ea819 ;
        color: white;
        font-weight: bold;
        padding: 5px;
    }
    #button4{font-size: 18px; padding : 15px; border:1px solid white;
        width: 250px;
    }
    #button4:hover{
        color: black;
        background-color: white;
    }
    #p6{
        color: white;
        font-size: 17px;
    }
    .button1:hover{cursor: pointer;
        background-color: green;}
        .Strong1{
            color: #585858;
            text-decoration: underline;
        }
        .Strong1:hover{
            color: black;
            cursor: pointer;
        }