.SignUpPage{
    font-family: Source Sans Pro,sans-serif;
    font-size: 25px;
    color: 	#383838;
}
#signUpBox{
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 40px 30px;
}
.Para{
    font-size: 15px;
}
.inputPara{
    font-size: 14px;
    font-weight: bolder;padding: 5px;
}
p{text-align: center}
h1{
    text-align: center;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 38px;
    word-spacing: -2px;
    font-weight: bolder;
}
.signUpInput{
    height: 40px;
    font-size: 15px;
    width: 350px;
}
.signUpButton{
    font-weight: bold;
    font-size: 13px;
    width: 360px;
    background-color:#4EA819  ;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
}
.signUpButton:hover{
    background-color: green;
    cursor: pointer;
}
.Strong{color: black; text-decoration: underLine; cursor : pointer;
 }
 h5{
    text-align: center;
 }
 .socialMedia{
    border: 1px solid gray;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    text-align: center;
    width: 400px;
    margin: auto; padding: 20px;
    padding-top: 0px;
 }
 .icons{
    width: 40px;
    padding: 10px;
 }
 .icons:hover{
    cursor: pointer;
 }
 .facebookIcon{
    width: 50px;
 }
 /* span{
    text-align: center;
    font-size: 20px;
 } */
 .Strong2{
    font-size: 18px;
    color: black;
    text-decoration: underline;
    text-align: center;
 }
 .Strong2:hover{
    cursor: pointer;
 }
 .Strong3{
    text-align: center;
    margin: auto;
    padding: 20px 0px;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: underline;
}
.Strong3:hover{
    cursor: pointer;
    text-decoration: underline;
}